@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 background-color: #3e3d3d;
 background-image: url('D:\backend\doctorapplication\client\src\assets\bgimage.png');
 background-size: 96%;
 
}
.notification-badge-container {
   position: relative;
   display: inline-block;
 }
 
 .notification-badge {
   position: absolute;
   top: -5px;
   right: -5px;
   background-color: red;
   color: white;
   border-radius: 75%;
   padding: 5px;
   font-size: 6px;
 }
 